﻿<%@ Page Language="C#" MasterPageFile="~/TutorialVidaWeb.Master" AutoEventWireup="true" CodeBehind="contato-enviado.aspx.cs" Inherits="WebApp.contato_enviado" Title="Untitled Page" %>
<%@ Register src="UC/OutrosRecursos.ascx" tagname="OutrosRecursos" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    <link rel="stylesheet" type="text/css" href="common/css/Contato.css" />
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:OutrosRecursos ID="OutrosRecursos1" runat="server" />
    <div class="centroint">
    	<div class="conteudo">
            <h1 class="title02">Contato</h1>
            <p>Lorem ipsum dolor sit amet, seguro trransporte consectetuer adipiscing elit. Etiam eget ligula consectetuer</p>
            <h2 class="title03">Sua mensagem foi enviada com sucesso</h2>
            <p><a href="javascript:void();" class="btnVoltar"></a></p>
        </div>
    </div>
</asp:Content>