﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="player.aspx.cs" Inherits="WebApp.player" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Player</title>
    <script src="common/js/Flash.js" type="text/javascript"></script>
</head>
<body>
    <form id="form1" runat="server">
    <script language="JavaScript" type="text/javascript">
        AC_FL_RunContent(
		'codebase', 'http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,45,0',
		'width', '1000px',
		'height', '600px',
		'src', 'cloud/Motion/tutorial_modelo',
		'quality', 'high',
		'pluginspage', 'http://www.adobe.com/go/getflashplayer',
		'align', 'middle',
		'play', 'true',
		'loop', 'true',
		'scale', 'noscale',
		'wmode', 'window',
		'devicefont', 'false',
		'id', 'splash',
		'bgcolor', '#FFFFFF',
		'name', 'index',
		'style', '',
		'menu', 'true',
		'allowFullScreen', 'false',
		'allowScriptAccess', 'sameDomain',
		'movie', 'cloud/Motion/tutorial_modelo',
		'flashVars', <%="'PATH_XML=/_tutorialVidaWeb/Movies/"+Request.QueryString["id"].PadLeft(2,'0')+"/'"%>,
		'salign', 'lt'
		); //end AC code
    </script>
    </form>
</body>
</html>