BODY {
	FONT-WEIGHT: normal; FONT-SIZE: 0.8em; MARGIN: 0px; WORD-SPACING: normal; TEXT-TRANSFORM: none; FONT-FAMILY: Helvetica Bold Condensed Oblique, Arial; LETTER-SPACING: normal; BACKGROUND-COLOR: white
}
.login {
	BORDER-RIGHT: #8b8b8b 2px solid; BORDER-TOP: #8b8b8b 2px solid; Z-INDEX: 2; LEFT: 380px; VERTICAL-ALIGN: middle; BORDER-LEFT: #8b8b8b 2px solid; WIDTH: 240px; BORDER-BOTTOM: #8b8b8b 2px solid; FONT-FAMILY: Helvetica Bold Condensed Oblique, Arial; POSITION: absolute; TOP: 180px; HEIGHT: 210px; BACKGROUND-COLOR: #ececec
}
.divSombra {
	Z-INDEX: 1; LEFT: 385px; WIDTH: 250px; POSITION: absolute; TOP: 185px; HEIGHT: 220px; BACKGROUND-COLOR: #ececec
}
.divSaudacao {
	BORDER-RIGHT: #8b8b8b 2px solid; BORDER-TOP: #8b8b8b 2px solid; Z-INDEX: 2; LEFT: 340px; VERTICAL-ALIGN: middle; BORDER-LEFT: #8b8b8b 2px solid; WIDTH: 340px; BORDER-BOTTOM: #8b8b8b 2px solid; FONT-FAMILY: Helvetica Bold Condensed Oblique, Arial; POSITION: absolute; TOP: 150px; HEIGHT: 290px; BACKGROUND-COLOR: #ececec
}
.divSaudacaoSombra {
	Z-INDEX: 1; LEFT: 345px; WIDTH: 350px; POSITION: absolute; TOP: 155px; HEIGHT: 300px; BACKGROUND-COLOR: #ececec
}
.txtCampo {
	LEFT: 30px; WIDTH: 110px; POSITION: relative
}
.divCampo {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.lblNome {
	FONT-WEIGHT: bold; LEFT: 0px; VERTICAL-ALIGN: middle; WIDTH: 60px; COLOR: #8b8b8b; FONT-STYLE: italic; FONT-FAMILY: Helvetica; POSITION: absolute; HEIGHT: 30px; BACKGROUND-COLOR: #e0e0e0
}
.loginCentro {
	WIDTH: 100%; PADDING-TOP: 18%; POSITION: absolute
}
.loginTitulo {
	POSITION: absolute
}
#divLogin {
	BORDER-RIGHT: #e0e0e0 1px solid; BORDER-TOP: #e0e0e0 1px solid; LEFT: 20px; VERTICAL-ALIGN: middle; BORDER-LEFT: #e0e0e0 1px solid; WIDTH: 200px; BORDER-BOTTOM: #e0e0e0 1px solid; POSITION: absolute; TOP: 75px
}
#divSenha {
	BORDER-RIGHT: #e0e0e0 1px solid; BORDER-TOP: #e0e0e0 1px solid; LEFT: 20px; VERTICAL-ALIGN: middle; BORDER-LEFT: #e0e0e0 1px solid; WIDTH: 200px; BORDER-BOTTOM: #e0e0e0 1px solid; POSITION: absolute; TOP: 115px
}
.loginBtnEntrar {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 15px; PADDING-TOP: 15px; POSITION: absolute
}
.loginMsgErro {
	LEFT: 20px; COLOR: red; POSITION: absolute; TOP: 135px
}
#BtnLoginEntrar {
	LEFT: 100px; POSITION: absolute; TOP: 175px
}
.imagem_logo {
	BORDER-RIGHT: white 1pt solid; BACKGROUND-POSITION: center 50%; BORDER-TOP: medium none; Z-INDEX: 500; LEFT: 8pt; FLOAT: left; BACKGROUND-IMAGE: url(/img/logo_nova.gif); MARGIN-BOTTOM: 0px; BORDER-LEFT: medium none; WIDTH: 222px; CURSOR: hand; BORDER-BOTTOM: white 1pt solid; BACKGROUND-REPEAT: no-repeat; POSITION: absolute; TOP: 25px; HEIGHT: 62px; BACKGROUND-COLOR: #e6e6e6
}
.dvTituloAplicacao {
	FONT-SIZE: 22px; WIDTH: 580px; COLOR: #92000d; FONT-FAMILY: Helvetica Bold Condensed Oblique, Arial; POSITION: absolute; TOP: 0px; HEIGHT: 26px; TEXT-ALIGN: left
}
.dvTituloConstrucao {
	FONT-SIZE: 30px; WIDTH: 580px; COLOR: #92000d; FONT-FAMILY: Helvetica Bold Condensed Oblique, Verdana, Arial; TOP: 300px; HEIGHT: 26px; TEXT-ALIGN: center
}
.0042Titulo {
	FONT-SIZE: 22px; WIDTH: 580px; COLOR: #92000d; FONT-FAMILY: Helvetica Bold Condensed Oblique, Arial; HEIGHT: 26px; TEXT-ALIGN: left
}
.divNomeCampo {
	FONT-WEIGHT: bold; VERTICAL-ALIGN: middle; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: Helvetica Bold Condensed Oblique, Arial; POSITION: absolute; BACKGROUND-COLOR: #e0e0e0
}
.divCaixa {
	BORDER-RIGHT: #e0e0e0 1px solid; BORDER-TOP: #e0e0e0 1px solid; VERTICAL-ALIGN: middle; BORDER-LEFT: #e0e0e0 1px solid; BORDER-BOTTOM: #e0e0e0 1px solid; POSITION: absolute
}
.txtNomeCampo {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; WIDTH: 110px; PADDING-TOP: 3px; POSITION: relative
}
.dvGridConsulta {
	POSITION: absolute; TEXT-ALIGN: left
}
A.menu_top {
	FONT-SIZE: 12px; COLOR: darkred; FONT-FAMILY: Helvetica Bold Condensed Oblique, Arial; TEXT-DECORATION: none
}
HR.barra_cab {
	BORDER-RIGHT: solid; BORDER-TOP: solid; LEFT: 0pt; FLOAT: left; BORDER-LEFT: solid; WIDTH: 980px; COLOR: #8b0000; BORDER-BOTTOM: solid; POSITION: absolute; TOP: 45pt; HEIGHT: 4px
}
.menu_cab {
	CLEAR: right; FONT-SIZE: x-small; LEFT: 78%; FLOAT: none; COLOR: darkred; FONT-FAMILY: Helvetica Bold Condensed Oblique, Arial; POSITION: absolute; TOP: 28pt; TEXT-ALIGN: right; TEXT-DECORATION: none
}
#btnImprimir {
	CLEAR: right; FONT-SIZE: x-small; LEFT: 70%; FLOAT: none; COLOR: darkred; FONT-FAMILY: Helvetica Bold Condensed Oblique, Arial; POSITION: absolute; TOP: 58pt; TEXT-ALIGN: right; TEXT-DECORATION: none
}
TABLE.escolha TD.td_label {
	FONT-SIZE: 14px; COLOR: black; FONT-FAMILY: Helvetica Bold Condensed Oblique, Arial; TEXT-ALIGN: left
}
TABLE.escolha TD.td_campo {
	PADDING-LEFT: 15px; FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: Helvetica Bold Condensed Oblique, Arial; TEXT-ALIGN: left
}
#dvPagina {
	LEFT: 200px; WIDTH: 600px; POSITION: absolute; TOP: 100px
}
#dvGridConsulta {
	LEFT: 0px; TOP: 120px
}
#dvTipoConsulta {
	WIDTH: 400px; TOP: 35px
}
#divTipoEscolha {
	LEFT: 0px; WIDTH: 140px; HEIGHT: 29px
}
#divEscolha {
	LEFT: 150px
}
#dvTxtConsulta {
	LEFT: 0px; WIDTH: 400px; TOP: 80px
}
#divConteudoConsulta {
	LEFT: 0px; WIDTH: 140px; HEIGHT: 30px
}
#divTxtConsulta {
	LEFT: 150px
}
#txtConsulta {
	WIDTH: 220px
}
#dvBtnPesquisar {
	LEFT: 420px; POSITION: absolute; TOP: 95px
}
#ddlTipoConsulta {
	WIDTH: 220px
}
#dvNomeUsuario {
	LEFT: 0px; POSITION: absolute; TOP: 30px; TEXT-ALIGN: left
}
#dvCpf {
	LEFT: 310px; POSITION: absolute; TOP: 30px; TEXT-ALIGN: left
}
#dvEmail {
	LEFT: 0px; POSITION: absolute; TOP: 90px; TEXT-ALIGN: left
}
#dvTelefone {
	LEFT: 260px; POSITION: absolute; TOP: 90px; TEXT-ALIGN: left
}
#dvLoginAcesso {
	LEFT: 410px; POSITION: absolute; TOP: 90px; TEXT-ALIGN: left
}
#dvUsuarioPerfil {
	LEFT: 0px; POSITION: absolute; TOP: 150px; TEXT-ALIGN: left
}
#dvBotoes {
	LEFT: 0px; POSITION: absolute; TOP: 220px; TEXT-ALIGN: left
}
#dvMsgCadastrado {
	WIDTH: 600px; POSITION: absolute; TOP: 60px; TEXT-ALIGN: center
}
#dvBtnvoltarMsgCadastrado {
	WIDTH: 600px; POSITION: absolute; TOP: 90px; TEXT-ALIGN: center
}
.0032td_label {
	FONT-WEIGHT: lighter; FONT-SIZE: 11px; BORDER-LEFT: #b4bfdd 3px solid; COLOR: #1863a7; FONT-FAMILY: Arial
}
.0033td_label {
	FONT-WEIGHT: lighter; FONT-SIZE: 11px; BORDER-LEFT: blue 3px solid; COLOR: blue; FONT-FAMILY: Arial
}
.0032td_dado {
	FONT-SIZE: 11px; BORDER-LEFT: #b4bfdd 3px solid; COLOR: #1863a7; BORDER-BOTTOM: #1863a7 1px solid; FONT-FAMILY: Arial
}
.0032tb_espaco {
	FONT-SIZE: 11px; BORDER-LEFT: #b4bfdd 3px solid; COLOR: blue; FONT-FAMILY: Arial
}
.0032td_titulo {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; FONT-FAMILY: Arial
}
.dv0032GridConsulta {
	LEFT: 0px; POSITION: absolute; TOP: 90px; TEXT-ALIGN: left
}
.dv0032GridParcelas {
	LEFT: 0px; POSITION: absolute; TOP: 420px; TEXT-ALIGN: left
}
#dv0032TxtConsulta {
	LEFT: 0px; WIDTH: 275px; TOP: 40px
}
#dv0032Pagina {
	LEFT: 200px; WIDTH: 600px; POSITION: absolute; TOP: 100px
}
#dv0032Unidade {
	LEFT: 0px; POSITION: absolute; TOP: 30px; TEXT-ALIGN: left
}
#dv0032NomeUsu {
	LEFT: 0px; POSITION: absolute; TOP: 90px; TEXT-ALIGN: left
}
#dv0032Cpf {
	LEFT: 310px; POSITION: absolute; TOP: 90px; TEXT-ALIGN: left
}
#dv0032Email {
	LEFT: 0px; POSITION: absolute; TOP: 150px; TEXT-ALIGN: left
}
#dv0032Telefone {
	LEFT: 310px; POSITION: absolute; TOP: 150px; TEXT-ALIGN: left
}
#dv0032LoginAcesso {
	LEFT: 0px; POSITION: absolute; TOP: 210px; TEXT-ALIGN: left
}
#dv0032UsuarioPerfil {
	LEFT: 0px; POSITION: absolute; TOP: 270px; TEXT-ALIGN: left
}
#dv0032Botoes {
	LEFT: 210px; POSITION: absolute; TOP: 330px; TEXT-ALIGN: left
}
#dv0032MsgCadastrado {
	WIDTH: 600px; POSITION: absolute; TOP: 60px; TEXT-ALIGN: center
}
#dv0032Btnvoltar {
	WIDTH: 600px; POSITION: absolute; TOP: 90px; TEXT-ALIGN: center
}
#dv0032BtnPesquisar {
	LEFT: 285px; POSITION: absolute; TOP: 45px
}
#dv0034Pagina {
	LEFT: 200px; WIDTH: 650px; POSITION: absolute; TOP: 100px
}
#dv0034TxtConsulta {
	LEFT: 0px; WIDTH: 650px; TOP: 40px
}
#dv0034BtnPesquisar {
	LEFT: 568px; POSITION: absolute; TOP: 41px
}
.0034td_label {
	FONT-WEIGHT: lighter; FONT-SIZE: 9px; BORDER-LEFT: yellow 5px solid; COLOR: #1863a7; FONT-FAMILY: Arial
}
.0034td_label_direita {
	FONT-WEIGHT: lighter; FONT-SIZE: 9px; BORDER-LEFT: yellow 5px solid; COLOR: #1863a7; FONT-FAMILY: Arial; BORDER-RIGHT:yellow 5px solid
}
.0034td_texto {
	FONT-WEIGHT: lighter; FONT-SIZE: 9px; COLOR: #1863a7; FONT-FAMILY: Arial
}
.0034td_texto_peq {
	FONT-WEIGHT: lighter; FONT-SIZE: 9px; COLOR: #1863a7; FONT-FAMILY: Arial
}
.0034td_dado_direita {
	FONT-SIZE: 9px; BORDER-LEFT: yellow 5px solid; COLOR: #1863a7; BORDER-BOTTOM: #1863a7 1px dotted; FONT-FAMILY: Arial; BORDER-RIGHT:yellow 5px solid
}
.0034td_dado {
	FONT-SIZE: 9px; BORDER-LEFT: yellow 5px solid; COLOR: #1863a7; BORDER-BOTTOM: #1863a7 1px dotted; FONT-FAMILY: Arial;
}
.0034td_dado_grosso {
	FONT-SIZE: 9px; BORDER-LEFT: #b4bfdd 3px solid; COLOR: #1863a7; BORDER-BOTTOM: #1863a7 2px solid; FONT-FAMILY: Arial
}
.0034td_dado_exclusive {
	FONT-SIZE: 9px; BORDER-LEFT: #b4bfdd 0px solid; COLOR: #1863a7; BORDER-BOTTOM: #1863a7 1px solid; FONT-FAMILY: Arial
}
.0034espaco {
	FONT-SIZE: 1px
}
.0034tb_espaco {
	FONT-SIZE: 9px; BORDER-LEFT: #b4bfdd 3px solid; COLOR: blue; FONT-FAMILY: Arial
}
.0034td_titulo {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; FONT-FAMILY: Arial
}
#0034posicao_linha {
	LEFT: 50%
}
#dv0036TxtConsulta {
	LEFT: 0px; WIDTH: 265px; TOP: 30px
}
.dv0036TxtApolice {
	WIDTH: 300px
}
#dv0036Pagina {
	LEFT: 200px; WIDTH: 600px; POSITION: absolute; TOP: 100px
}
#dv0036Unidade {
	LEFT: 0px; POSITION: absolute; TOP: 30px; TEXT-ALIGN: left
}
#dv0036NomeUsu {
	LEFT: 0px; POSITION: absolute; TOP: 90px; TEXT-ALIGN: left
}
#dv0036Cpf {
	LEFT: 310px; POSITION: absolute; TOP: 90px; TEXT-ALIGN: left
}
#dv0036Email {
	LEFT: 0px; POSITION: absolute; TOP: 150px; TEXT-ALIGN: left
}
#dv0036Telefone {
	LEFT: 310px; POSITION: absolute; TOP: 150px; TEXT-ALIGN: left
}
#dv0036UsuarioPerfil {
	LEFT: 0px; POSITION: absolute; TOP: 210px; TEXT-ALIGN: left
}
#dv0036Botoes {
	LEFT: 210px; POSITION: absolute; TOP: 330px; TEXT-ALIGN: left
}
#dv0036MsgCadastrado {
	WIDTH: 600px; POSITION: absolute; TOP: 60px; TEXT-ALIGN: center
}
#dv0036BtnvoltarMsgCadastrado {
	WIDTH: 600px; POSITION: absolute; TOP: 90px; TEXT-ALIGN: center
}
#dv0037Pagina {
	LEFT: 200px; WIDTH: 600px; POSITION: absolute; TOP: 100px
}
#dv0037Unidade {
	LEFT: 0px; POSITION: absolute; TOP: 30px; TEXT-ALIGN: left
}
#dv0037NomeUsu {
	LEFT: 0px; POSITION: absolute; TOP: 90px; TEXT-ALIGN: left
}
#dv0037Cpf {
	LEFT: 310px; POSITION: absolute; TOP: 90px; TEXT-ALIGN: left
}
#dv0037Email {
	LEFT: 0px; POSITION: absolute; TOP: 150px; TEXT-ALIGN: left
}
#dv0037Telefone {
	LEFT: 310px; POSITION: absolute; TOP: 150px; TEXT-ALIGN: left
}
#dv0037LoginAcesso {
	LEFT: 0px; POSITION: absolute; TOP: 210px; TEXT-ALIGN: left
}
#dv0037UsuarioPerfil {
	LEFT: 0px; POSITION: absolute; TOP: 210px; TEXT-ALIGN: left
}
#dv0037Botoes {
	LEFT: 210px; POSITION: absolute; TOP: 330px; TEXT-ALIGN: left
}
#dv0037MsgCadastrado {
	WIDTH: 600px; POSITION: absolute; TOP: 60px; TEXT-ALIGN: center
}
#dv0037Btnvoltar {
	WIDTH: 600px; POSITION: absolute; TOP: 90px; TEXT-ALIGN: center
}
#dv0039NomeUnidade {
	LEFT: 0px; POSITION: absolute; TOP: 40px; TEXT-ALIGN: left
}
#dv0039NomeUsu {
	LEFT: 0px; POSITION: absolute; TOP: 110px; TEXT-ALIGN: left
}
#dv0039NovaSenha {
	LEFT: 0px; POSITION: absolute; TOP: 180px; TEXT-ALIGN: left
}
#dv0039ConfirmaSenha {
	LEFT: 0px; POSITION: absolute; TOP: 250px; TEXT-ALIGN: left
}
#lbl0039Erro {
	LEFT: 40px; COLOR: red; POSITION: absolute; TOP: 310px
}
#dv0039Botoes {
	LEFT: 100px; POSITION: absolute; TOP: 330px; TEXT-ALIGN: left
}
#dv0049Pagina {
	LEFT: 180px; WIDTH: 600px; POSITION: absolute; TOP: 100px
}
.0049DivResumo {
	MARGIN-BOTTOM: 22px; WIDTH: 684px; POSITION: relative; TOP: 0px; HEIGHT: 267px; BACKGROUND-COLOR: #ffffff
}
.0049Label {
	FONT-SIZE: 14px; MARGIN-BOTTOM: 17px; WIDTH: 850px; COLOR: #003f87; FONT-FAMILY: Helvetica Bold Condensed Oblique, Arial; TEXT-ALIGN: center
}
.0049Img {
	LEFT: 0px; POSITION: absolute; TOP: 29px
}
.0049Resumo {
	LEFT: 233px; POSITION: absolute; TOP: 70px
}
.0049CliqueAqui {
	LEFT: 620px; FONT-FAMILY: Helvetica Bold Condensed Oblique, Arial; POSITION: absolute; TEXT-DECORATION: none
}
A.0049CliqueAqui {
	FONT-SIZE: 12px; COLOR: darkred; FONT-FAMILY: Helvetica Bold Condensed Oblique, Arial; TEXT-DECORATION: none
}
#div0049Produto {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; LEFT: 80px; PADDING-BOTTOM: 1px; WIDTH: 850px; PADDING-TOP: 1px; POSITION: absolute; TOP: 100px; HEIGHT: 480px; BACKGROUND-COLOR: #ffffff
}
#pnl0049Produto {
	PADDING-RIGHT: 1px; OVERFLOW-Y: scroll; PADDING-LEFT: 1px; LEFT: 0px; PADDING-BOTTOM: 1px; WIDTH: 850px; PADDING-TOP: 1px; POSITION: absolute; TOP: 0px; HEIGHT: 450px
}
#lkb0049Voltar {
	WIDTH: 70px; HEIGHT: 24px
}
A.Links {
	FONT-SIZE: 12px; COLOR: darkred; FONT-FAMILY: Helvetica Bold Condensed Oblique, Arial; TEXT-DECORATION: none
}
.spn0049Voltar {
	LEFT: 0px; WIDTH: 850px; POSITION: absolute; TOP: 455px; TEXT-ALIGN: center
}
.div0049TxtResidencial {
	PADDING-LEFT: 8px; WIDTH: 850px
}
.0049LabelMenor {
	FONT-SIZE: 13px; MARGIN-BOTTOM: 17px; COLOR: #003f87; FONT-FAMILY: Helvetica Bold Condensed Oblique, Arial; TEXT-ALIGN: left
}
.tdLadoImg {
	PADDING-LEFT: 23px; FONT-WEIGHT: normal; FONT-SIZE: 0.8em; WORD-SPACING: normal; TEXT-TRANSFORM: none; FONT-FAMILY: Helvetica Bold Condensed Oblique, Arial; LETTER-SPACING: normal; BACKGROUND-COLOR: white
}
.0049ImgG {
	MARGIN-RIGHT: 23px
}
#divPrincipalMapa {
	LEFT: 120px; WIDTH: 770px; POSITION: absolute; TOP: 100px; HEIGHT: 600px
}
.TituloMenuMapa {
	BACKGROUND-COLOR: #e7e7e7
}
.TituloSubMenuMapa {
	MARGIN-TOP: 2px; FONT-WEIGHT: bold; FONT-SIZE: 11px; CURSOR: hand; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-Serif; BACKGROUND-COLOR: #e7e7e7
}
.TextoMapa {
	FONT-SIZE: 11px; MARGIN-BOTTOM: 12px; COLOR: #000000
}
.TextoSubMenuMapa {
	DISPLAY: none; FONT-SIZE: 11px; MARGIN-BOTTOM: 12px; COLOR: #000000
}
A.LinkSubMenuMapa {
	COLOR: #990000; TEXT-DECORATION: underline
}
A.LinkSubMenuMapa:hover {
	COLOR: #990000; TEXT-DECORATION: underline
}
A.LinkSubMenuMapa:visited {
	COLOR: #990000; TEXT-DECORATION: underline
}
.ListaMapa {
	MARGIN-LEFT: 20px
}
.divMenuMapa {
	BORDER-RIGHT: #808080 1pt solid; PADDING-RIGHT: 3px; BORDER-TOP: #808080 1pt solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #808080 1pt solid; PADDING-TOP: 3px; BORDER-BOTTOM: #808080 1pt solid; BACKGROUND-COLOR: white
}
#divAgenciaMapa {
	LEFT: 0px; WIDTH: 240px; POSITION: absolute; TOP: 210px
}
#divCorretorMapa {
	LEFT: 245px; WIDTH: 280px; POSITION: absolute; TOP: 210px
}
#divAdmSegurancaMapa {
	LEFT: 530px; WIDTH: 240px; POSITION: absolute; TOP: 210px
}

.DataLabels
{
	font-family: Arial;
	font-size: 12px;
	color: #000000;
}

.DataLabelsMini
{
	font-family: Arial;
	font-size: 9px;
	color: #000000;
}

