<%@ Page Language="vb" AutoEventWireup="false" Codebehind="DefaultInicio.aspx.vb" Inherits="segw0065.DefaultInicio" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>DefaultGeraParametro</title>
		
	</HEAD>
	<body >
		<form id="Form1" method="post" runat="server">
		</form>
	</body>
</HTML>
