<%@ Page Language="vb" AutoEventWireup="false" Codebehind="query.aspx.vb" Inherits="segw0065.query"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>query</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
	<body MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
			&nbsp;
			<asp:DataGrid id="dg" style="Z-INDEX: 101; LEFT: 239px; POSITION: absolute; TOP: 266px" runat="server"></asp:DataGrid>
			<asp:TextBox id="TextBox1" style="Z-INDEX: 102; LEFT: 22px; POSITION: absolute; TOP: 39px" runat="server"
				Height="140px" Width="482px" TextMode="MultiLine"></asp:TextBox>
			<asp:Button id="Button1" style="Z-INDEX: 103; LEFT: 521px; POSITION: absolute; TOP: 50px" runat="server"
				Width="141px" Text="Button"></asp:Button>
		</form>
	</body>
</HTML>
