<%@ Page Language="vb" AutoEventWireup="false" Codebehind="DefaultInicio.aspx.vb" Inherits="segw0071.DefaultInicio"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
  <head>
    <title>DefaultInicio</title>
    <meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
    <meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1">
    <meta name=vs_defaultClientScript content="JavaScript">
    <meta name=vs_targetSchema content="http://schemas.microsoft.com/intellisense/ie3-2nav3-0">
  </head>
  <body MS_POSITIONING="FlowLayout">

    <form id="Form1" method="post" runat="server">

    </form>

  </body>
</html>
