<style type="text/css" media="all"> BODY { margin: 0px; position: absolute; font-size: 8px;}
	.DataLabels { font-size:9px; }
	.fontBase { font-size:9px; font-family:Arial,sans-serif,Verdana; }
	.headerBase { font-size:12px; font-family:Arial,sans-serif,Verdana; font-weight:bold; }
	</style>

<TABLE cellSpacing="0" cellPadding="0" align="center" border="0" width="660" style='PAGE-BREAK-BEFORE:always'>
<TR>
	<td>
	<TABLE id="Table2" cellSpacing="0" cellPadding="0">
		<TR>
			<TD align="left" width="123">
				<IMG src='files_print/imgtoporelatorio2.GIF' border="0">
			</TD>
			<TD vAlign="middle" align="right" width="100%">
				<table cellSpacing="0" cellPadding="0" align="center" border="0" width="100%">
					<tr>
						<td align="center" class='headerBase' height="15">Certificado Individual de Seguro de Vida em Grupo</td>
					</tr>
					<tr>
						<td align="center" class='headerBase' height="15"></td>
					</tr>
					<tr>
						<td align="right" class='fontBase' height="15"><b>Processo Susep: VG 10005463/99-80&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></td>
					</tr>
				</table>
			</TD>
		</TR>
	</TABLE>
	</td>
</TR>
<tr>
	<td>
	<TABLE width="100%" cellSpacing="0" cellPadding="0">
		<TR> 
			<TD class="0034td_label" colspan="2">
				N&uacute;mero do Certificado Individual&nbsp;
			</TD>
			<TD class="0034td_label"> In&iacute;cio de  Vig&ecirc;ncia do&nbsp;Segurado
			</TD>
			<TD class=0034td_label_direita> Fim de Vig&ecirc;ncia do&nbsp;Segurado
			</TD>
		</TR>
		<TR>
			<TD class="0034td_dado" colspan="2">
				<SPAN class=DataLabels id="Span1" xstyle="WIDTH: 172px">
					BD_lblNumeroCertificado
				</SPAN>
			</TD>
			<TD class=0034td_dado>
				<SPAN class=DataLabels id="Span2" xstyle="WIDTH: 172px">
					BD_lblIni_vg_subgrp
				</SPAN>
			</TD>
			<TD class=0034td_dado_direita>
				<SPAN class=DataLabels id="Span3" xstyle="WIDTH: 172px">
					BD_lblFim_vg_subgrp
				</SPAN>
			</TD>
		</TR>
		<TR>
			<TD class="0034td_label">
				Ramo
			</TD>
			<TD class="0034td_label">
				N&uacute;mero da Ap&oacute;lice
			</TD> 
			<TD class="0034td_label">
				In&iacute;cio de Vig&ecirc;ncia da Ap&oacute;lice				
			</TD>
			<TD class=0034td_label_direita width=180>				
				Fim de Vig&ecirc;ncia da Ap&oacute;lice
			</TD>
		</TR>
		<tr>
			<TD class=0034td_dado>
				<SPAN class=DataLabels id="Span4">
					BD_lblRamo
				</SPAN> 
			</TD>
			<TD class=0034td_dado>&nbsp; 
						<SPAN class=DataLabels id="Span5">
							BD_lblNumApolice
						</SPAN>
			</TD>
			<TD class=0034td_dado>
							<SPAN class=DataLabels id="Span6">
								BD_lblIni_vg_apo
							</SPAN>
			</TD>
			<TD class=0034td_dado_direita>
						<P align=left>
							<SPAN class=DataLabels id="Span7">
								BD_lblFim_vg_apo
							</SPAN>
						</P>
			</TD>
		</tr>
		<TR>
			<TD class=0034td_label colSpan=2>
								<P align=left>
									Nome do Estipulante
								</P>
			</TD>
			<TD class=0034td_label_direita colSpan=2>
								<P align=left>
									CNPJ&nbsp;
								</P>
			</TD>
		</TR>
		<TR>
			<TD class=0034td_dado colSpan=2>
								<P align=left>
									<SPAN class=DataLabels id="Span8">
										BD_lblNomeEstipulante
									</SPAN>
								</P>
			</TD>
			<TD class=0034td_dado_direita colSpan=2>
								<P align=left>
									<SPAN class=DataLabels id="Span9">
										BD_lblCNPJe
									</SPAN>
								</P>
			</TD>
		</TR>
		<TR>
			<TD class=0034td_label colSpan=2>
								<P align=left>
									Nome do Sub-Estipulante
								</P>
			</TD>
			<TD class=0034td_label_direita colSpan=2>
								CNPJ
			</TD>
		</TR>
		<TR>
			<TD class=0034td_dado colSpan=2>
								<P align=left>
									<SPAN class=DataLabels id="Span10">
										BD_lblNomeSubEstipulante
									</SPAN>
								</P>
			</TD>
			<TD class=0034td_dado_direita colspan=2>
								<P align=left>
									<SPAN class=DataLabels id="Span11">
										BD_lblCNPJsub_e
									</SPAN>
								</P>
			</TD>
		</TR>
	<tr>
		<td colspan=4></td> 
	</tr>
	<TR>
		<TD class=0034td_label_direita colSpan=4>
								<P align=left>
									Dados do Segurado
								</P>
		</TD>
	</TR>
	<TR>
		<TD class=0034td_label colspan=2>
				Nome:
									
		</TD>
		<TD class=0034td_label>
									Data de Nascimento:
		</TD>
		<TD class=0034td_label_direita>
							<P align=left>
									CPF:
							</P>
		</TD>
	</TR>
	<tr>
		<td class=0034td_dado colspan=2><SPAN class=DataLabels id="Span12">
										BD_lblSeg_Nome
									</SPAN></td>
		<td class=0034td_dado><SPAN class=DataLabels id="Span13">
									BD_lblSeg_DataNasc
								</SPAN></td>
		<td class=0034td_dado_direita><SPAN class=DataLabels id="Span14">
									BD_lblSeg_cpf
								</SPAN></td>
	</tr>
	<tr>
		<td colspan=4></td>
	</tr>
	<TR>                
			<TD class=0034td_label_direita colspan=4>
							Dados do Seguro
			</TD>
	</TR>
	<TR>
			<TD class=0034td_dado_direita colspan=4>
							BD_tabela_coberturas
			</TD>
	</TR>
	<TR>
		    <TD class=0034td_label colspan=2>
						Pr&ecirc;mio 
            
						Individual: R$
			</TD>                
			<TD class=0034td_label_direita colspan=2>
						Data de Emiss&atilde;o
			</TD>
	</TR>              
	<TR>                
		<TD class=0034td_dado colspan=2>
							<SPAN class=DataLabels id="Span15">
								BD_lblPremio
							</SPAN> 
		</TD>
		<TD class=0034td_dado_direita colspan=2>
							<SPAN class=DataLabels id="Span16">
								BD_lblDataEmissao
							</SPAN>             
		</TD>
	</TR>
	<TR>                
		<TD class=0034td_label colspan=2>
							Corretor
		</TD>                
		<TD class=0034td_label_direita colspan=2>
							C&oacute;digo SUSEP
		</TD>
	</TR>
	<TR>
		<TD class=0034td_dado colspan=2>
							<SPAN class=DataLabels id="Span17">
								BD_lblCorretor
							</SPAN> 
		</TD>                
		<TD class=0034td_dado_direita colspan=2>
							<SPAN class=DataLabels id="Span18">
								BD_lblSUSEP
							</SPAN>         
		</TD>
	</TR>
	<tr>
		<td colspan=4></td>
	</tr>
	<TR>
		<TD class=0034td_label colspan=2>
								<BR>Observa&ccedil;&otilde;es<BR>
		</TD>
		<TD class=0034td_label_direita colspan=2>
								Companhia de Seguros Alian&ccedil;a do   Brasil
		</TD>
	</TR>
	<TR>
		<TD class=0034td_dado colspan=2>
								<SPAN class=DataLabels  id="Span19">
									BD_lblOBS
								</SPAN>
								<BR>
		</TD>
		<TD class=0034td_dado_direita colspan=2>
								<IMG src="files_print/assinatura.gif" height=74 width=208>
		</TD>
	</TR>
				
	</TABLE>	
	</td>
</tr>
		<TR>
			<TD>
				<TABLE id=Table10  cellSpacing=0 cellPadding=2 border=0 width="100%">
					<TR>
						<TD width=736 height=20> 							
								<FONT xstyle="FONT-SIZE: 8px" color=#333399 size=1>
									<B> 
									<CENTER>Resumo das Condi&ccedil;&otilde;es  Gerais</CENTER>
									</B>
								</FONT>
									
								<FONT face="Arial, sans-serif" color=#333399 size=1>
									1. O presente                   seguro &eacute; regido pelas Condi&ccedil;&otilde;es Gerais e Especiais que fazem                   parte integrante da ap&oacute;lice em poder do                   Estipulante/Sub-Estipulante.<BR></FONT></FONT>
									<FONT                   face="Arial, sans-serif">
									<FONT color=#333399 size=1>2. O                   presente 
									Certificado Individual substitui e anula os                   
									anteriores e foi emitido conforme as Condi&ccedil;&otilde;es Gerais e                   
									Particulares da ap&oacute;lice.<BR></FONT></FONT><FONT face="Arial, sans-serif">
									<FONT color=#333399 size=1>3. O  seguro a que se refere este Certificado 
									Individual ser&aacute; renovado conforme disposto nas Condi&ccedil;&otilde;es Gerais e Particulares 
									da ap&oacute;lice.<BR></FONT></FONT>
									<FONT face="Arial, sans-serif">
									<FONT color=#333399 size=1>4. Todas  as comunica&ccedil;&otilde;es relativas ao seguro, 
									inclusive altera&ccedil;&otilde;es e cancelamento, ser&atilde;o feitas diretamente ao 
									Estipulante/Sub-Estipulante, como representante </FONT>
									</FONT><FONT color=#333399><FONT face="Arial, sans-serif" size=1>legal do Segurado, conforme                   autoriza&ccedil;&atilde;o deste expressa na respectiva Proposta de                   Ades&atilde;o.<BR></FONT></FONT><FONT face="Arial, sans-serif"><FONT                   color=#333399 size=1>5. A vig&ecirc;ncia da cobertura individual                   ter&aacute; in&iacute;cio a partir das 24 (vinte e quatro) horas da data de                   ingresso do Segurado no grupo, atrav&eacute;s de formaliza&ccedil;&atilde;o do                   </FONT></FONT><FONT color=#333399><FONT                   face="Arial, sans-serif" size=1>Estipulante, desde que                   recebida e aceita a Proposta de Ades&atilde;o pela Seguradora. No                   caso de propostas recepcionadas com o pagamento do pr&ecirc;mio                   total ou </FONT></FONT><FONT color=#333399><FONT                   face="Arial, sans-serif" size=1>parcial, o in&iacute;cio da cobertura                   ocorrer&aacute; &agrave;s 24 (vinte e quatro) horas da data de recep&ccedil;&atilde;o das                   Propostas de Ades&atilde;o pela sociedade                   Seguradora.<BR></FONT></FONT><FONT                   face="Arial, sans-serif"><FONT color=#333399 size=1>6. A                   Proposta de Ades&atilde;o, preenchida de pr&oacute;prio punho pelo Segurado,                   datada e assinada, dever&aacute; obrigatoriamente ser entregue &agrave;                   Seguradora para an&aacute;lise de </FONT></FONT><FONT                   color=#333399><FONT face="Arial, sans-serif" size=1>aceita&ccedil;&atilde;o                   em at&eacute; 45 dias da inclus&atilde;o do Segurado pelo                   Estipulante.<BR></FONT></FONT><FONT color=#333399><FONT                   face="Arial, sans-serif" size=1>7. O final de vig&ecirc;ncia da                   cobertura individual ser&aacute; a data de t&eacute;rmino de vig&ecirc;ncia da                   ap&oacute;lice, respeitando o disposto no item 10 deste Certificado                   Individual.<BR></FONT></FONT><FONT color=#333399><FONT                   face="Arial, sans-serif" size=1>8. Os benefici&aacute;rios do seguro                   s&atilde;o aqueles indicados pelo Segurado na proposta de ades&atilde;o no                   momento da contrata&ccedil;&atilde;o, podendo ser alterados mediante                   solicita&ccedil;&atilde;o </FONT></FONT><FONT color=#333399><FONT                   face="Arial, sans-serif" size=1>por escrito do segurado, ou na                   falta de indica&ccedil;&atilde;o conforme o artigo 792 do C&oacute;digo Civil                   Brasileiro de 11/01/2002 (metade ao c&ocirc;njuge n&atilde;o separado                   judicialmente e </FONT></FONT><FONT color=#333399><FONT                   face="Arial, sans-serif" size=1>o restante aos herdeiros do                   segurado, obedecida a ordem de voca&ccedil;&atilde;o heredit&aacute;ria).                   <BR></FONT></FONT><FONT face="Arial, sans-serif"><FONT                   color=#333399 size=1>9. O pr&ecirc;mio e os capitais segurados ser&atilde;o                   reajustados conforme estabelecido nas Condi&ccedil;&otilde;es Gerais da                   ap&oacute;lice.<BR></FONT></FONT><FONT color=#333399><FONT                   face="Arial, sans-serif" size=1>10. O seguro representado por                   este Certificado Individual cessar&aacute;                   automaticamente:<BR></FONT></FONT><FONT color=#333399><FONT                   face="Arial, sans-serif" size=1>- Com a n&atilde;o renova&ccedil;&atilde;o ou o                   cancelamento da ap&oacute;lice;<BR></FONT></FONT><FONT                   color=#333399><FONT face="Arial, sans-serif" size=1>- Com o                   desaparecimento do v&iacute;nculo entre o Segurado e Estipulante ou                   Sub-estipulantes, com exce&ccedil;&atilde;o dos segurados aposentados que                   tenham optado por </FONT></FONT><FONT color=#333399><FONT                   face="Arial, sans-serif" size=1>permanecer no referido                   seguro;<BR></FONT></FONT><FONT color=#333399><FONT                   face="Arial, sans-serif" size=1>- Quando o Segurado solicitar                   sua exclus&atilde;o da ap&oacute;lice ou quando o mesmo deixar de contribuir                   com sua parte do pr&ecirc;mio; e <BR></FONT></FONT><FONT                   color=#333399><FONT face="Arial, sans-serif" size=1>- Conforme                   demais defini&ccedil;&otilde;es estabelecidas nas Condi&ccedil;&otilde;es Gerais da                   ap&oacute;lice.<BR></FONT></FONT><FONT color=#333399><FONT face="Arial, sans-serif" size=1>11. Este seguro &eacute; por tempo                   determinado, tendo a seguradora a faculdade de n&atilde;o renovar a                   ap&oacute;lice na data de vencimento, sem devolu&ccedil;&atilde;o dos pr&ecirc;mios pagos   nos <FONT color=#333399><FONT                   face="Arial, sans-serif" size=1>termos da                   ap&oacute;lice.</FONT></FONT>                <FONT                   color=#333399><FONT face=Arial size=1>
									<br><center><B>Companhia de Seguros                   Alian&ccedil;a do Brasil - Rua Manuel da N&oacute;brega, 1280 - 9&ordm; andar -                   04001-004 - S&atilde;o Paulo - SP - C.N.P.J.:                   28.196.889/0001-43</B><center><FONT color=#333399><FONT xstyle="FONT-SIZE: 5pt" face=Arial><B><FONT                   size=1>Central de Atendimento 0800 729 7000 - </FONT>
									<a href="/scripts/webmail.exe?cmd=url&amp;xdata=~2-e157340c59a2e2643628d636ef7756aa028c69e3e0afe1c4d1cd9bd4c6696e2e627261736c696e6b2e636f6d00&amp;url=!3CA">
                                    <FONT size=1>www.aliancadobrasil.com.br</FONT></A></B></FONT></FONT></center>
            <p></p></center></FONT></FONT></FONT></FONT>
                  </TD>
            </TR>
			</TABLE></TD></TR></TABLE>
