﻿.FieldSetMinuta 
{
    padding-bottom: 10px; 
    padding-left: 10px; 
    width: 100%; 
    padding-right: 10px; 
    padding-top: 0px;
}

.LegendFieldSetMinuta 
{
    color: #003399; 
    font-size: 12px; 
    font-weight: bold;
}

ul#file_list 
{
	list-style-type: square;
}

ul#file_list li 
{
	padding-bottom: 2px;
}

a#lnkMinutas, a#lnkMinutas:hover 
{
	font-size:12px; 
	display:inline;
}
