<%@ Page Language="vb" AutoEventWireup="false" Codebehind="loginAdmin.aspx.vb" Inherits="segw0069.loginAdmin"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
  <head>
    <title>loginAdmin</title>
    <meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
    <meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1">
    <meta name=vs_defaultClientScript content="JavaScript">
    <meta name=vs_targetSchema content="http://schemas.microsoft.com/intellisense/ie5">    
  </head>
  <LINK href="../segw0060/CSS/EstiloBase.css" type="text/css" rel="stylesheet">
  <LINK href="estilo_internet.css" type="text/css" rel="stylesheet">
  <script language="javascript" src="../segw0069/scripts/funcoes.js"></script>
  <script>
	var vTeclado = 3;
	
function vnumeric(vv)
{	
	var numero = vv;
	numero = numero.replace(".","a");
	numero = numero.replace("E","a");
	numero = numero.replace("e","a");
	numero = numero.replace("-","a");
	if(numero != ""){
			if (isNaN(numero/1)){
				return false;
			}
	}
	return true;
}
function retornaNumeroReal(id){
		valor = document.all[id].src.split("/");
		
		valor = valor[valor.length-1];
		valor = valor.split("_");
		valor = valor[1].replace(".gif","");
		return valor;
}
function contraste(vAcao){
	if ((vAcao == "-") & (vTeclado > 1)){
		for(f=0;f<10;f++){
			document.all["teclas" + f].src = "/seg/segw0069/img/btn" + (vTeclado - 1) + "_" + retornaNumeroReal("teclas" + f) + ".gif";
		}
		vTeclado--;
	}
	if ((vAcao == "+") & (vTeclado < 5)){
		for(f=0;f<10;f++){
			document.all["teclas" + f].src = "/seg/segw0069/img/btn" + (vTeclado + 1) + "_" + retornaNumeroReal("teclas" + f) + ".gif";
		}
		vTeclado++;
	}
}
function setaTexto(img)
{
	valor = retornaNumeroReal(img.id);
	if (form.senhaTeclado.value.length < 8) 
	{
		form.senhaTeclado.value += valor;
	}
}

function apagatexto()
{

	if (form.senhaTeclado.value.length != 0)
	{
		pos = 0;
		tamanho = form.senhaTeclado.value.length - 1;
		form.senhaTeclado.value = form.senhaTeclado.value.substring(0,tamanho)
	
	}
}

function testaLogin(){
		return true;
}
function popUp(url)
{
	sealWin = window.open(url,"win",'toolbar=0,location=0,directories=0,status=1,menubar=1,scrollbars=1,resizable=1,width=700,height=450,left=70,top=50');
}

  </script>
  <body MS_POSITIONING="GridLayout">
    <form id="form" method="post" runat="server">
		<table width="271" border="2" cellpadding="0" cellspacing="0" background="/seg/segw0069/img/bg_teclado.gif" align="center">
		<tr> 
			<td valign="top"><IMG src="/seg/segw0069/img/img_tela_topo.gif"></td>
		</tr>
		<tr> 
			<td>
				<font color="#000066" size="2" face="Arial, Helvetica, sans-serif">
					<strong>&nbsp;&nbsp;Login</strong>
				</font>
				<br> 
				&nbsp;
				<input name="loginTeclado" id="loginTeclado" size="10" maxlength="10"> 
				<br>
			</td>
		</tr>
		<tr> 
			<td align="middle" height="28" valign="center">
				<IMG height=17 src="/seg/segw0069/img/img_teclado_virtual.gif" width=284>
			</td>
		</tr>
		<tr> 
			<td>
				<table border="0" align="center" cellpadding="0" cellspacing="0">
					<tr> 
						<td><IMG src="/seg/segw0069/img/img_lateral_esquerda.gif" border=0></td>
						<td>
							<table cellpadding="0" cellspacing="0" border="0">
								<tr>
									<td><IMG height=2 src="/seg/segw0069/img/img_topo_teclado.gif" width=110 border=0></td>
								</tr>
								<tr>
									<td>
										<TABLE border="0" cellpadding="0" cellspacing="0">
											<TR>
												<TD><IMG id=teclas1  style ="CURSOR: hand" onclick="setaTexto(this,'a')" height=20 src="/seg/segw0069/img/btn3_.gif" width=22></TD>
												<TD><IMG id=teclas2  style ="CURSOR: hand" onclick="setaTexto(this,'a')" height=20 src="/seg/segw0069/img/btn3_.gif" width=22></TD>
												<TD><IMG id=teclas3  style ="CURSOR: hand" onclick="setaTexto(this,'a')" height=20 src="/seg/segw0069/img/btn3_.gif" width=22></TD>
												<TD><IMG id=teclas4  style ="CURSOR: hand" onclick="setaTexto(this,'a')" height=20 src="/seg/segw0069/img/btn3_.gif" width=22></TD>
												<TD><IMG id=teclas5  style ="CURSOR: hand" onclick="setaTexto(this,'a')" height=20 src="/seg/segw0069/img/btn3_.gif" width=22></TD>
											</TR>
											<TR>
												<TD><IMG id=teclas6  style ="CURSOR: hand" onclick="setaTexto(this,'a')" height=20 src="/seg/segw0069/img/btn3_.gif" width=22></TD>
												<TD><IMG id=teclas7  style ="CURSOR: hand" onclick="setaTexto(this,'a')" height=20 src="/seg/segw0069/img/btn3_.gif" width=22></TD>
												<TD><IMG id=teclas8  style ="CURSOR: hand" onclick="setaTexto(this,'a')" height=20 src="/seg/segw0069/img/btn3_.gif" width=22></TD>
												<TD><IMG id=teclas9  style ="CURSOR: hand" onclick="setaTexto(this,'a')" height=20 src="/seg/segw0069/img/btn3_.gif" width=22></TD>
												<TD><IMG id=teclas0  style ="CURSOR: hand" onclick="setaTexto(this,'a')" height=20 src="/seg/segw0069/img/btn3_.gif" width=22></TD>
											</TR>
										</TABLE>
									</td>
								</tr>
								<tr>
									<td><IMG height=3 src="/seg/segw0069/img/ima_fundo_teclado.gif" width=110 border=0></td>
								</tr>
							</table>
						</td>
						<td><IMG src="/seg/segw0069/img/img_lateral_direita.gif" border=0></td>
						<td><table width="100%" border="0" cellpadding="0" cellspacing="0" background="/seg/segw0069/img/bg_interna.gif"></table></td>
					</tr>
					<tr> 
						<td><IMG height=8 src="/seg/segw0069/img/img_int_topo.gif" width=140></td>
					</tr>
					<tr> 
						<td>
							<p>
								<font color="#000066" size="2" face="Arial, Helvetica, sans-serif">
									<strong>&nbsp;&nbsp;Senha<br> &nbsp; </strong>
								</font> 
								<input name="senhaTeclado" type="password" id="senhaTeclado" size="11" readonly>
								<IMG style="CURSOR: hand" onclick=apagatexto()  src="/seg/segw0069/img/bt_apagar.jpg"><br>
								&nbsp; 
								<input name="imageField" type="image" src="/seg/segw0069/img/btn_entrar.gif" width="59" height="18" border="0">
								<IMG style="CURSOR: hand" onclick=document.form.reset(); height=18 src="/seg/segw0069/img/btn_limpar.gif" width=59 border=0>
							</p>
						</td>
					</tr>
					<tr> 
						<td><IMG height=7 src="/seg/segw0069/img/img_int_base.gif" width=140></td>
					</tr>
				</table>
			</td>
		</tr>
		<tr> 
			<td valign="bottom" colspan="2"><A href="javascript:contraste('-');"><IMG height=17  src="/seg/segw0069/img/btn_subtrai.gif" width=21 border=0></a><font color="#000066" size="2" face="Arial, Helvetica, sans-serif"><strong>&nbsp;Contraste&nbsp;</strong></font><A href="javascript:contraste('+');"><IMG height=17 src="/seg/segw0069/img/btn_soma.gif" width=21 border=0></a></td>
			<td class="colunadados" colspan="2"><small>Problemas com senha, <A class=escolha_dado href="/internet/valid/acesso/default.asp?flag_menu=O">clique aqui</A>.</small></td>
			<td>&nbsp;</td>
		</tr>
	</table>
	
    </form>
  </body>
</html>
