body
{
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;

	font-family: Verdana;
	font-size: 10px;
	color: #003399;
	font-weight: normal;
}

table
{
	font-family: Verdana;
	font-size: 10px;
	color: #000000;
	font-weight: normal;
}

table.manutencao
{
	font-family: Verdana;
	font-size: 10px;
	color: #003399;
	font-weight: normal;
}

table.consulta
{
	font-family: Verdana;
	font-size: 10px;
	color: #003399;
	font-weight: normal;
	padding: 0px 4px 0px 4px;
	margin: 0px 0px 0px 0px;
	BORDER-RIGHT: 1px solid; 
	BORDER-TOP: 1px solid; 
	BORDER-LEFT: 1px solid; 
	BORDER-BOTTOM: 1px solid; 
	BORDER-COLLAPSE: collapse;
}

input, select, textarea, span, legend
{
	font-family: Verdana;
	font-size: 10px;
	color: #003399;
	font-weight: normal;
}

input.SemEstilo, select.SemEstilo, textarea.SemEstilo {
	font-family: Courier New;
	font-size: 14px;
	color: #000000;
	font-weight: normal;
	text-decoration: none;
	text-align: left;
}

input.Invisivel 
{
	visibility: visible;
}

.Botao
{
	border-right: #CCCCCC 1px solid;
	border-top: #CCCCCC 1px solid;
	border-left: #CCCCCC 1px solid;
	border-bottom: #CCCCCC 1px solid;
	
	font-family: Verdana;
	font-size: 10px;
	color: #FFFFFF;
	font-weight: bold;
	background-color: #003399;
	
	
}

.BotaoMenor
{
	border-right: #CCCCCC 1px solid;
	border-top: #CCCCCC 1px solid;
	border-left: #CCCCCC 1px solid;
	border-bottom: #CCCCCC 1px solid;
	
	font-family: Verdana;
	font-size: 10px;
	color: #FFFFFF;
	font-weight: bold;
	background-color: #003399;
	
	height: 19px;
}

input.BotaoSelecionar
{
	border-right: #CCCCCC 1px solid;
	border-top: #CCCCCC 1px solid;
	border-left: #CCCCCC 1px solid;
	border-bottom: #CCCCCC 1px solid;
	
	font-family: Verdana;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: bold;
	background-color: #003399;
	height: 23px;
	width: 80px;
}

.CaminhoTela
{
	font-family: Verdana;
	font-size: 12px;
	color: #FF8C00;
	font-weight: bold;
}

.TituloUsuario
{
	font-family: Verdana;
	font-size: 12px;
	color: #003399;
	font-weight: bold;
}

.TituloFormulario
{
	font-family: Verdana;
	font-size: 12px;
	color: #003399;
	font-weight: bold;
}

.AguardePagina
{
	font-family: Verdana;
	font-size: 10px;
	color: #FFFFFF;
	font-weight: bolder;
	background-color: #FF0000;
}

.DescricaoCampo
{
	font-family: Verdana;
	font-size: 10px;
	color: #003399;
	font-weight: normal;
}

.CampoObrigatorio
{
	font-family: Verdana;
	font-size: 10px;
	color: #FF0000;
	font-weight: bold;
}

a.TituloMenuTopo
{
	font-family: Arial;
	font-size: 12px;
	color: #3B395D;
	font-weight: bold;
	text-decoration: none;
}

.MensagemErro
{
	font-size: 10px;
	width: 100%;
	color: #ff0000;
	font-family: Verdana;
	text-align: center;
}

.CampoValor
{
	text-align: right;
}

.TituloTelaPesquisa
{
	font-family: Verdana;
	font-size: 10px;
	color: #FFFFFF;
	font-weight: bold;
}

.DadosSistemaUsuario
{
	font-family: Verdana;
	font-size: 10px;
	color: #003399;
	font-weight: bold;
}

.EspacamentoLabelCampo
{
	padding-left: 5px;
	padding-right: 5px;
}

.CorPadraoFundo { BACKGROUND-COLOR: #e8f1ff }
.CabecalhoItem { WIDTH: 100%; HEIGHT: 28px; TEXT-ALIGN: left }
.CabecalhoItem IMG { LEFT: -2px; CURSOR: hand; POSITION: relative; TOP: 4px }
.AreaBotoes { WIDTH: 100%; HEIGHT: 48px; TEXT-ALIGN: center }
.AreaBotoes INPUT { MARGIN-LEFT: 4px; MARGIN-RIGHT: 4px; POSITION: relative; TOP: 10px }


.SecaoRoteiro {padding-bottom: 10px; margin-bottom: 10px; width: 90%; text-align: left; border: solid 1px #CCCCCC; font-family: Verdana; font-size: 10px; color: #003399; font-weight: normal;}
.SecaoRoteiro legend {font-weight: bold; padding-left: 5px; padding-right: 5px; padding-bottom: 2px; }
.SecaoRoteiro div {padding: 5px 0px 0px 20px;}

.DependenciaAberta {display: block;}
.DependenciaFechada {display: none;}

.NaoVisivel {visibility: hidden;}

.grid-view
{
	padding: 0;
	margin: 0;
	border: 1px solid #333;
	font-family: "Verdana, Arial, Helvetica, sans-serif, Trebuchet MS";
	font-size: 10px;
}

.grid-view tr.header
{
	color: white;
	background-color: #003399;
	height: 18px;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
}

.grid-view tr.normal
{
   color: black;
   background-color: #FFFFFF;
   color: #000000;
   height: 12px;
}

.grid-view tr.alternate
{
	color: black;
	background-color: #f5f5f5;
	color: #000000;
	height: 12px;
}





