﻿.TemplateControl
{
	width: 100%;
	border:none;
	background-color:Transparent;
}

select.TemplateControl
{
	text-align:center;		
	color:black;
		 
}

input.TemplateControl
{
	text-align:center;
	color:black;
}

p span
{
	font-family: Verdana;
	font-size: 12px;
	color: #003399;
	font-weight: bold;
}