.txtBtnEnabled 
{
	width:55px;
	height:12px;
	color:#FFFFFF;
	position:absolute;
	float:left;
	left:10px;
	top:2px;
	font-weight:bolder;
	cursor:hand;
}

.txtBtnEnabledBig
{
	width:75px;
	height:12px;
	color:#FFFFFF;
	position:absolute;
	float:left;
	left:10px;
	top:2px;
	font-weight:bolder;
	cursor:hand;
}

.txtBtnDisabled
{
	width:55px;
	height:12px;
	color:#CCCCCC;
	position:absolute;
	float:left;
	left:10px;
	top:2px;
	font-weight:bolder;
	cursor:default;
}
.txtBtnDisabledBig
{
	width:75px;
	height:12px;
	color:#CCCCCC;
	position:absolute;
	float:left;
	left:10px;
	top:2px;
	font-weight:bolder;
	cursor:default;
}
.tituloFloatDiv {
	width:100%;
	position:relative;
	float:left;
	z-index:2;
	top:0px;
	background-color:#003399;
	color:#ffffff;
	font-weight:bold;
}

.th 
{
	border-collapse: collapse;
	position: relative;
	top: expression(document.getElementById("lista").scrollTop-2);
	BACKGROUND-COLOR: #003399;
	FONT-WEIGHT: bold;
	COLOR: #ffffff;
}

div#lista
{
	overflow:auto;
	width:730px;
	height:230px;
	position:relative;
}
