﻿.dados_fieldset
{
    border: none;
    border-top: solid 1px #ccc;
    color: #555;
    font: 8pt bold;
    font-family: Arial, Verdana, Helvetica;
    *font-family:Arial,Verdana,Helvetica;
    width:900px;
    display:block;
}

.dados_fieldset p
{
    margin: 10px 0px;
}

.dados_fieldset hr
{
    border: none;
    border-bottom: solid 1px #ccc;
    height: 1px;
}

.dados_fieldset legend
{
    margin-bottom: 10px;
}

.dados_fieldset .dados_content
{
    margin: 2px 0px;
}

.dados_linha 
{
	width:100%;
	}

.dados_linha label
{
    display: block;
    float: left;
    text-align: left;
    padding-right: 10px;
    width:20%;
}

.dados_linha span
{
    display: block;
    float: left;
    text-align: left;
    padding-left: 2px;
    width:70%;
}

.dados_linha input.file
{
    width: 70%;
    border: 1px #ccc solid;
    color: #555;
    height: 23px;
}

.dados_linha select
{
    width: 70%;
    border: 1px #ccc solid;
    color: #555;
    height: 23px;
}

.envia
{
    width: 110px;
    border: 1px #ccc solid;
    height: 23px;
}

.botao_Dir
{
    float: right;
    width: 156px;
    border: 1px #ccc solid;
    height: 23px;
    margin: 10px;
}

.navButtons
{
    float: right;
}

.navButtons input
{
    float:left;
    border: 1px #ccc solid;
    height: 23px;
    margin: 10px;
}

.dados_prop_esq
{
    width: 55%;
    float: left;
    left: 0px;
    top: 0px;
    margin-bottom: 6px;
}

.dados_prop_esq label
{
    display: block;
    float: left;
    width: 165px;
    text-align: right;
    padding-right: 2px;
}

.dados_prop_esq span
{
    display: block;
    float: left;
    text-align: left;
    padding-left: 2px;
}

.dados_prop_dir
{
    width: 45%;
    float: right;
    right: 0px;
    top: 0px;
    margin-bottom: 6px;
}

.dados_prop_dir label
{
    display: block;
    float: left;
    width: 120px;
    text-align: right;
    padding-right: 5px;
}

.dados_prop_dir span
{
    display: block;
    float: left;
    text-align: left;
    padding-left: 5px;
}

.content_resumo
{
    width:100%;
    text-align:center;
    
    }