﻿
h2{
    font: 10pt bold;
    font-family:Arial, Verdana, Helvetica;  
    *font-family:Arial,Verdana,Helvetica;
}

.navegacao{
width:100%;
text-align:center;
}

.navegacao div{
float:left;
margin:10px 20px;
}
.centra_passos
{
display:block;
position:relative;
width:800px;
_width:850px;
margin:0 auto;
padding:10px 0px 0px 60px;
}


.nav_ativo,.nav
{
width:160px;
text-valign:bottom;
height:90px;
text-align:center;

}



.nav_ativo label,.nav label
{
font: 12pt bold;
display:block;
width:160px;
text-align:center;
margin:25px auto 35px 0px;

}

.nav_ativo label
{
    font-weight:bold;
    color:Maroon;
    
    }

.nav_ativo strong,.nav strong
{
display:block;
width:160px;
text-align:center;
margin:0px;
 
}

.nav_ativo
{
background:transparent url('../IMG/bola_nav_atual.gif') no-repeat +45px 0px;
 
}

.nav
{
background:transparent url('../IMG/bola_nav.gif') no-repeat +45px 0px;
}
