.TabPesquisa
{
	background-color: #FFF;
	width: 776px;
	height: 157px;
	float: none;
	position: absolute;
	right: 559px;
	top: 165px;
	left: 0;
}

.Fundo
{
	background-color: #CCC;
	background-image: url(imagem/fundo_topo.jpg); 
	background-repeat: repeat-x;
	float: none;
	width: 776px;
	height: 111px;
	position: absolute;
	left: -2px;
	top: 0px;
}
.tab_conteudo
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	background-color: #FFF;
	top: 322px;
	left: 0px;
	width: 776px;
	position: absolute;
	height: 300px;
}
.titSistema
{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 16px;
	color: #FFF;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
}
.Data
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFF;
	vertical-align: middle;
	top: 40px;
}
.Menu
{
	font-family: Arial, Helvetica, sans-serif;
	color: #2B3B93;
	font-size: 12px;
	text-transform: none;
	font-weight: bold;
	text-align: center;
	font-style: normal;
	text-decoration: none;
}

.Menu:hover
{
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	background-color: #0036AA;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-decoration: underline;
	background-image: url(Imagem/menu_over.gif);
	background-position: bottom;
	background-repeat: no-repeat;
}
.TitCaixa
{
	font-family: Tahoma;
	font-size: 14px;
	color: #283890;
	padding-left: 20px;
	text-align: left;
	border-bottom: 0px;
	border-bottom-color: #293A92;
	height: 20px;
	border-bottom-style: solid;
	padding-right: 20px;
	margin-bottom: 10px;
}
.header_tabela
{
	/* 	font-family: Arial, Helvetica, sans-serif; 	font-size: 12px; 	line-height: 20px; 	color: #FFF; 	background-color: #999; 	text-align: center; 	vertical-align: middle; 	*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
	color: #FFF;
	background-color: #507CD1;
	text-align: center;
	vertical-align: middle;
}
.header_legenda
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #FFF;
	background-color: #666;
	text-align: center;
	vertical-align: middle;
}
.pager
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666;
	line-height: 30px;
	text-align: center;
	vertical-align: middle;
}

.pager td a
{
	text-decoration: underline;
	padding: 10px;
	color: #666;
}
.pager td a:hover
{
	color: #fff;
	background-color: #666;
}

.txtTabela
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
}
.txtTabela:hover
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	/*background-color: #666;
	color: #FFF;*/
	color:#000;
	background-color: #FFFFE0;
}
.txtTabela2
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	background-color: #F2F2F2;
}
.txtTabela2:hover
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	/*background-color: #666;
	color: #FFF;*/
	color:#000;
	background-color: #FFFFE0;
}
.txtTabela3
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	/*background-color: #AAA;
	color: #FFF;*/ 
	color:#000;
	background-color:#F0E68C;
	font-weight:bold;
}
.txtTabela3:hover
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	/*background-color: #666;
	color: #FFF;*/
	color:#000;
	background-color:#F0E68C;
}

.txtLabel
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666;
	text-align: right;
	line-height: 25px;
	vertical-align: middle;
	padding-right: 5px;
}
.txtCampo
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
	border: 1px solid #CCC;
}

.Botao
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFF;
	background-image: url(../Image/botao.jpg);
	background-position: 0px 0px;
	width: 122px;
	height: 29px;
	vertical-align: middle;
	background-repeat: no-repeat;
	text-align: center;
}
.Botao:hover
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #2B3B93;
	background-image: url(../Image/botao_over.jpg);
	width: 122px;
	height: 29px;
	vertical-align: middle;
	background-repeat: no-repeat;
}

.BotaoFora
{
	height: 25px;
}

.BotaoFora .BotaoE
{
	background-image: url(../Image/botaoE.png);
	background-repeat: no-repeat;
	width: 13px;
	height: 25px;
	float: left;
}

.BotaoFora .BotaoM
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	background-image: url(../Image/botaoM.png);
	background-repeat: repeat-x;
	height: 25px;
	vertical-align: middle;
	text-align: center;
	border: none;
	float: left;
}

.BotaoFora .BotaoD
{
	background-image: url(../Image/botaoD.png);
	background-repeat: no-repeat;
	width: 13px;
	height: 25px;
	float: left;
}

.BotaoFora:hover .BotaoE
{
	background-image: url(../Image/botaoOverE.png);
	background-repeat: no-repeat;
	width: 14px;
	height: 31px;
	float: left;
}

.BotaoFora:hover .BotaoM
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #2B3B93;
	background-image: url(../Image/botaoOverM.png);
	background-repeat: repeat-x;
	height: 25px;
	vertical-align: middle;
	text-align: center;
	border: none;
	float: left;
}

.BotaoFora:hover .BotaoD
{
	background-image: url(../Image/botaoOverD.png);
	background-repeat: no-repeat;
	width: 14px;
	height: 25px;
	float: left;
}





.n5
{
	width: 5px;
}
.n7
{
	width: 7px;
}
.n10
{
	width: 10px;
}
.n15
{
	width: 15px;
}
.n20
{
	width: 20px;
}
.n25
{
	width: 25px;
}
.n30
{
	width: 30px;
}
.n32
{
	width: 32px;
}
.n35
{
	width: 35px;
}
.n40
{
	width: 40px;
}
.n45
{
	width: 45px;
}
.n50
{
	width: 50px;
}
.n60
{
	width: 60px;
}
.n70
{
	width: 70px;
}
.n75
{
	width: 75px;
}
.n80
{
	width: 80px;
}
.n85
{
	width: 85px;
}
.n90
{
	width: 90px;
}
.n95
{
	width: 95px;
}
.n100
{
	width: 100px;
}
.n101
{
	width: 101px;
}
.n102
{
	width: 102px;
}
.n103
{
	width: 103px;
}
.n104
{
	width: 104px;
}
.n105
{
	width: 105px;
}
.n106
{
	width: 106px;
}
.n107
{
	width: 107px;
}
.n108
{
	width: 108px;
}
.n110
{
	width: 110px;
}
.n120
{
	width: 120px;
}
.n125
{
	width: 125px;
}
.n130
{
	width: 130px;
}
.n135
{
	width: 135px;
}
.n140
{
	width: 140px;
}
.n145
{
	width: 145px;
}
.n150
{
	width: 150px;
}
.n160
{
	width: 160px;
}
.n180
{
	width: 180px;
}
.n195
{
	width: 195px;
}
.n195
{
	width: 195px;
}


.n200
{
	width: 200px;
}
.n205
{
	width: 205px;
}
.n210
{
	width: 210px;
}
.n215
{
	width: 215px;
}
.n220
{
	width: 220px;
}
.n225
{
	width: 225px;
}
.n230
{
	width: 230px;
}
.n235
{
	width: 235px;
}
.n240
{
	width: 240px;
}
.n245
{
	width: 245px;
}
.n250
{
	width: 250px;
}
.n255
{
	width: 255px;
}
.n260
{
	width: 260px;
}
.n265
{
	width: 265px;
}
.n270
{
	width: 270px;
}
.n275
{
	width: 275px;
}
.n280
{
	width: 280px;
}
.n285
{
	width: 285px;
}
.n290
{
	width: 290px;
}
.n295
{
	width: 295px;
}
.n300
{
	width: 300px;
}


.n300
{
	width: 300px;
}
.n310
{
	width: 310px;
}
.n320
{
	width: 320px;
}

.n325
{
	width: 325px;
}


.n350
{
	width: 350px;
}
.n375
{
	width: 375px;
}
.n390
{
	width: 390px;
}
.n400
{
	width: 400px;
}
.n430
{
	width: 430px;
}
.n450
{
	width: 450px;
}

.n500
{
	width: 500px;
}
.n505
{
	width: 505px;
}
.n510
{
	width: 510px;
}
.n515
{
	width: 515px;
}
.n520
{
	width: 520px;
}
.n525
{
	width: 525px;
}
.n530
{
	width: 530px;
}
.n535
{
	width: 535px;
}
.n540
{
	width: 540px;
}
.n545
{
	width: 545px;
}
.n550
{
	width: 550px;
}
.n555
{
	width: 555px;
}
.n560
{
	width: 560px;
}
.n565
{
	width: 565px;
}
.n570
{
	width: 570px;
}
.n575
{
	width: 575px;
}
.n580
{
	width: 580px;
}
.n585
{
	width: 585px;
}
.n590
{
	width: 590px;
}
.n595
{
	width: 595px;
}
.n600
{
	width: 600px;
}
.n605
{
	width: 605px;
}
.n610
{
	width: 610px;
}
.n615
{
	width: 615px;
}
.n620
{
	width: 620px;
}
.n625
{
	width: 625px;
}
.n630
{
	width: 630px;
}
.n635
{
	width: 635px;
}
.n640
{
	width: 640px;
}
.n645
{
	width: 645px;
}
.n650
{
	width: 650px;
}


.n605
{
	width: 605px;
}
.n650
{
	width: 600px;
}
.n590
{
	width: 590px;
}
.n595
{
	width: 595px;
}
.n598
{
	width: 600px;
}
.n610
{
	width: 610px;
}
.n750
{
	width: 750px;
	height: 25px;
}
.n750s
{
	width: 750px;
}
.n790
{
	width: 790px;
}
.n264
{
	width: 264px;
}
.n262
{
	width: 262px;
}
.n790
{
	width: 790px;
}


.divRight
{
	float: right;
}




/********************************************************
******** DivLeft
********************************************************/
.divLeft
{
	float: left;
}

.alignLeft
{
	text-align: left; /*border: solid 1px;*/
}

.alignCenter
{
	text-align: center; /*border: solid 1px;*/
}


.alignRight
{
	text-align: right; /*border: solid 1px;*/
}

.divCenter
{
	float: inherit;
}

Separadorlabel
{
	display: block;
	width: 140px;
	float: left;
	font-weight: bold;
	margin: auto 3px 4px 0px;
}

.Select_tabela
{
	color: Blue;
	background-color: Blue;
	text-align: center;
	vertical-align: middle;
}

/*UpdateProgress */
.esmaecer
{
	background-color: #fff;
	opacity: 0.8;
	filter: alpha(opacity=70);
	height: 1000px;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

/*UpdateProgress */
.icon
{
	z-index: 2000;
	position: absolute;
	left: 0;
	top: 0;
	width: 80%;
	height: 80%;
	background: url(../image/aguarde.gif) no-repeat center;
	background-color: White;
}
.box
{
	border:solid 1px #000;
	
}
.itemLegenda
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
}
.itemLegenda:hover
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFF;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	background-color: #999;
	font-weight:bold;
}
.txtLabelLeft
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666;
	text-align: left;
	line-height: 25px;
	vertical-align: middle;
	padding-right: 5px;
}
.BtnNavega
{
	font-family: Verdana;
	font-size: 9px;
	color: #666;
	text-align: center;
	line-height: 25px;
	vertical-align: middle;
	padding-right: 5px;
	text-decoration: none;
	
	
}
.Btn_on_Navega
{
	font-family: Verdana;
	font-size: 9px;
	color: Blue;
	text-align: center;
	line-height: 25px;
	vertical-align: middle;
	padding-right: 5px;
	text-decoration: none;
	
	
}
.modalPopup {
	background-color:#EEEEEE;
	border-width:3px;
	border-style:solid;
	border-color:Gray;
	font-family:Verdana;
	font-size:medium;
	padding:3px;
	width:250px;
}

CSS:
/********************************************************
******** Menu
********************************************************/
.fd_menu_on {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 12px;
      font-weight: bold;
      color: #706;
      background-position: bottom;
      background-image: url(..Image/menu_on_meio.gif);
      background-repeat: no-repeat;
      vertical-align: top;
      text-align: left;
      padding-top: 10px;
      padding-bottom: 30px;
      padding-left: 5px;
      padding-right: 5px;
      font-style: italic;
}

.fd_menu_off {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 12px;
      font-weight: bold;
      color: #666;
      background-position: bottom;
      background-image: url(..Image/menu_off_meio.gif);
      background-repeat: no-repeat;
      vertical-align: top;
      text-align: left;
      padding-top: 10px;
      padding-bottom: 30px;
      padding-left: 5px;
      padding-right: 5px;
      font-style: italic;
}
.tx_nm_menu {
      font-size: 16px;
}
