<%@ Page Language="vb"  AutoEventWireup="false" Codebehind="Impressao.aspx.vb" Inherits="segw0060.Impressao"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title runat="server" id="titulo">Teste</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie3-2nav3-0">
		<LINK href="CSS/EstiloBase.css" type="text/css" rel="stylesheet">
	</HEAD>
	<body MS_POSITIONING="FlowLayout">
		<form id="Form1" method="post" runat="server">
			<asp:Image id="Imagem" runat="server"></asp:Image>
			<asp:Label id="lblMensagem" runat="server" Visible="False" CssClass="Caminhotela">Label</asp:Label>
			<div align="center"><asp:Button ID="btnImprimir" Runat="server" Visible="False" CssClass="Botao" Text="Imprimir"></asp:Button></div>
		</form>
	</body>
</HTML>
