.clsCampoData{
	width:70px;
}
.alinhaDiv{
	text-align: right;
	padding-top: 20px;
}
.clsDivGrid{
	width:800px;	
}
.clsDivGridScroll{
	width:800px;
	height: 250px;
	overflow-x: scroll;
	overflow-y: auto;
}
.labelTitulo{
	font-family: Verdana;
	font-size: 12px;
	color: #003399;
	font-weight: bold;
	
}
.divTitulo{
	margin:10px 10px 10px 10px;
}

.TemplateControl
{
	width: 100%;
	border:none;
	background-color:Transparent;
}

input.TemplateControl
{
	text-align:left;
	color:black;
}

p span
{
	font-family: Verdana;
	font-size: 12px;
	color: #003399;
	font-weight: bold;
}