.formContato {
	margin:30px 0;
}
.formContato .latEsq{
clear:left;
display:block;
float:left;
width:92px;
color:#243F86;
font-weight:bold;
margin:10px 0 0;
}
.formContato .latDir{
display:block;
float:left;
width:440px;
margin:10px 0 0;
}
.formContato .latBtn{
display:block;
clear:left;
width:535px;
margin:10px 0 0;
text-align:right;
}
.formContato .txt01 {
	width:440px;
	border:1px solid #B1B1B1;
	background:#ECECEC;
}
.formContato .ddm01 {
	width:440px;
	border:1px solid #B1B1B1;
	background:#ECECEC;
}
.formContato .txt02 {
	width:440px; height:148px;
	border:1px solid #B1B1B1;
	background:#ECECEC;
}
.formContato .btnEnviar{
	background:url(../img/btnenviar.gif) no-repeat;
	width:75px; height:25px;
	margin:10px 0 0;
	border:none;
}

.conteudo .btnVoltar {
	background:url(../img/btnvotar.gif) no-repeat;
	width:75px; height:25px;
	display:block;
	margin:20px 0 0;
	border:none;
	text-indent:-2000px;
}