body {
	font-family: Tahoma, arial, helvetica, sans-serif;
	font-size:12px;
	color: #3A3A3A;
	margin:0; padding:0;
}
/*
color:#243F86; <-- azul
*/

a {
	color:#16389C;
}
a:hover {
	color:#5379DF;
}
img {
	border:0;
}
form{
	margin:0; padding:0;
}
h1,h2,h3,h4{color:#243F86;}
h1{font-size:18px;}
h2{font-size:16px;}
.clr{clear:both;}
.topo {
	height:90px;
	margin:0; padding:0;
	background:url(../img/topo_bg.gif) repeat-x;
	background-position:bottom;
}
.topo .titulo{
	margin:0 0 0 20px;
	float:left;
	width:272px; height:45px;
	background:url(../img/topo_logotutorial.gif) no-repeat;
}
.topo .titulo a{
	display:block;
	width:272px; height:45px;
}
.topo .titulo span{
	display:none;
}
.topo .olho{
	float:left;
	width:400px;
	margin:15px 0 0 30px;
}
.topo .form{
	clear:left;
	float:left;
	width:600px;
	margin:12px 0 0 20px;
}
.topo .form .btn1{
	background:url(../img/topo_btnpesquisar.gif) no-repeat;
	border:0;
	width:97px; height:25px;
	margin:0 31px 0 0;
	vertical-align:top;
}
.topo .form .txt1{
	border:1px solid #B5B7B6;
	background:#ECECEC;
	width:186px; height:18px;
	margin:2px 10px 0 0;
}
.topo .form .ddm1{
	border:1px solid #B5B7B6;
	background:#ECECEC;
	width:203px; height:18px;
	margin:3px 0 0;
	vertical-align:top;
}
.topo .direita{
	float:right;
	padding:9px 14px 0 0;
	width:158px;
}
.topo .direita h2{
	display:none;
}
.topo .direita p{
	margin:0; padding:0;
}
.topo .direita img{
	float:left;
}
.topodir {
	clear:both;
	float:right;
	width:170px;
	background:#E1E5F1;
	color:#243F86;
}
.topodir p{
	font-weight:bold;
	text-align:center;
	margin:15px 0;
}
.topodir ul{
	margin:0 0 16px;
	padding:0;
}
.topodir li{
	list-style:none;
	margin:7px 0 0 24px; padding:0;
}
.topodir span{
	display:none;
}
.topodir .m01 {
	display:block;
	width:129px; height:35px;
	background:url(../img/topo_btnoutrosrecursos_21.gif);
}
.topodir .m02 {
	display:block;
	width:129px; height:35px;
	background:url(../img/topo_btnoutrosrecursos_33.gif);
}
.topodir .m03 {
	display:block;
	width:129px; height:35px;
	background:url(../img/topo_btnoutrosrecursos_34.gif);
}
.topodir .borderbottom{
	width:170px; height:7px;
	font-size:2px;
	background:(../img/topo_outrosdownbg.gif) no-repeat;
}
.topoesq{
	color:#243F86;
	margin:10px 0 0 20px;
	width:700px;
}
.topoesq p{
	margin:23px 0 21px 0;
	font-weight:bold;
}
.topoesq .link01{
	color:#999;
}
.topoesq .link01:hover{
	color:#BFBFBF;
}
.topoesq .link01 img{
	text-decoration:none;
	vertical-align:middle;
	padding:0 4px 0 6px;
}
.topoesq .mainmenu {
	margin:10px 0 0; padding:0;
	height:73px;
}
.topoesq .mainmenu li{
	float:left;
	width:133px;
	list-style:none;
	margin:0 33px 0 0;
}
.topoesq .mainmenu span{
	display:none;
}
.topoesq .mainmenu a{
	display:block;
	width:133px; height:73px;
	background:url(../img/menu.gif) no-repeat;
}
.topoesq .mainmenu .m01 {
	background-position:0 -71px;
}
.topoesq .mainmenu .m01:hover {
	background-position:0 0;
}
.topoesq .mainmenu .m02 {
	background-position:-133px -71px;
}
.topoesq .mainmenu .m02:hover {
	background-position:-133px 0;
}
.topoesq .mainmenu .m03 {
	background-position:-266px -71px;
}
.topoesq .mainmenu .m03:hover {
	background-position:-266px 0;
}
.topoesq .mainmenu .m04 {
	background-position:-399px -71px;
}
.topoesq .mainmenu .m04:hover {
	background-position:-399px 0;
}
.meio 
{
    height:500px;
}
.centro {
	/*clear:both;
	margin:0 0 0 20px;*/
	position:absolute;
	margin:25px 0 0 10px;
}
.centro .menuesq{
	float:left;
	width:224px;
}
.centro .menuesq .obs{
	text-align:center;
	font-size:11px;
	font-weight:bold;
	color:#243F86;
}
.centro .contesq {
	float:left;
	margin:0 0 0 14px;
	width:710px;
}
.centro .contesq .video {
	float:left;
	width:511px;
}
.centro .contesq .videodesc {
	float:left;
	width:191px; height:255px;
	margin:148px 0 0;
	padding:0;
	background:#ECECEC;
	line-height:16px;
}
.centro .contesq .videodesc .desc{
	height:191px;
	padding:0 8px;
}
.centro .contesq .videodesc .bordertop{
	background:url(../img/conteudo_videoboxbg_38.gif) no-repeat;
	width:191px; height:7px;
}
.centro .contesq .videodesc .bottom{
	width:183px;
	height:34px;
	line-height:34px;
	padding:0 0 0 8px;
	background:url(../img/conteudo_videoboxbg_42.gif) no-repeat;
	background-position:bottom;
	font-size:11px;
}
/*.centro .contesq .videodesc .bottom img{
	margin:0 0 0 10px;
}*/
.centro .contesq .videodesc .bottom a{
	text-decoration:none;
}
.rodape {
	clear:both;
	margin:20px 0 4px;
	height:7px;
	background:url(../img/rodape_bg.gif) repeat-x;
}
.minwidth{
	display:block;
	width:1000px; height:1px;
}
.minheight{
	float:right;
	width:1px; height:568px;
}
/* Internas */
.centroint{
	margin:0 0 80px 20px;
	width:628px;
}
.paginacao{
	margin:60px 0 0;
}
.paginacao .paginaLink{
	width:250px;
	float:right;
	text-align:right;
	color:#16389C;
}
.paginacao .paginaLink a{
	text-decoration:none;
	padding:0 3px;
}
.paginacao .paginaLink a:hover{
	text-decoration:underline;
}
.paginacao .paginaTxt a{
	color:#3A3A3A;
}
.paginacao .paginaTxt a:hover{
	color:#6A6A6A;
}

/* Conteudo */
.conteudo .title01{
	margin:0 0 10px;
}
.conteudo .title02{
	margin:18px 0;
}
.conteudo .title03{
	margin:29px 0 5px;
	font-size:13px;
}
.conteudo .headUnderline{
	background:url(../img/conteudo_linha.gif) no-repeat;
	background-position:bottom left;
	text-transform:uppercase;
	font-size:14px;
	padding:0 0 0 4px;
	margin:29px 0 5px;
}
.conteudo .pesqResult{
	margin:2px 0 10px;
	line-height:18px;
}
.conteudo .pesqResult a{
	color:#3A3A3A;
	text-decoration:none;
}
.conteudo .pesqResult a:hover{
	color:#6A6A6A;
	text-decoration:none;
}
.conteudo .faqResp {
	margin:0 0 5px 20px;
}
.conteudo ul{
	margin:8px 0 11px 33px;
	padding:0;
}
.conteudo li{
	margin-top:8px;
	margin-bottom:8px;
	padding:0;
}
.conteudo .underline{
	text-decoration:underline;
	font-style:normal;
}