﻿
.FaixaAzul
{
    height:90px;
    width:100%;
    background-color:#0038A9;
    vertical-align:top;
}

.FaixaAmarela
{
    height:45px;
    background-color:#F9DD17;
    vertical-align:bottom;
    padding-left:75px;
}

.FaixaAzulFooter
{
    height:45px;
    width:100%;
    background-color:#0038A9;
    vertical-align:top;
}

.TextoFooter
{
    color:White;
    padding-left:75px;
    padding-top:13px;
    margin:0 auto;
}


.logo
{   
    margin:16px auto 17px 75px;
}

.vertical{
    background:url(../img/menuflash.gif) no-repeat;
    height:340px;width:224px;
}
.vertical h1{
    font-size:14px;
    left:25px;
    margin:0;
    padding:0;
    position:absolute;
    top:15px;
}
.jCarouselLite{    
    overflow: hidden; 
    visibility: visible; 
    position: relative; 
    z-index: 2; 
    left: 0px; 
    height: 190px !important;
    margin-top:49px;
}
.jCarouselLite ul {
    margin:0px 0px 0px 10px !important;    
}
.jCarouselLite ul li 
{
    height:auto !important;
    padding-bottom:5px;
    font-family:Arial;
    font-size:14px;
}
.jCarouselLite a {    
    color:#17399B;
    text-decoration:none;
}
.prev 
{
    background:transparent url(../img/setaUp.gif) no-repeat;
    border:0 none;
    cursor:pointer;
    height:23px;
    left:96px;
    position:relative;
    top:50px;
    width:32px;
}
.prev span{visibility:hidden;}
.next
{
    background:transparent url(../img/setaDown.gif) no-repeat;
    border:0 none;
    cursor:pointer;
    height:23px;
    left:95px;
    position:relative;    
    width:32px;
}
.next span
{
    visibility:hidden;
}
.liHeight  {
    height:30px !important;
}