.displayNone
{
	display:none;
}

.txtBtnEnabled 
{
	width:55px;
	height:12px;
	color:#FFFFFF;
	position:absolute;
	float:left;
	left:10px;
	top:2px;
	font-weight:bolder;
	cursor:hand;
}

.txtBtnDisabled
{
	width:55px;
	height:12px;
	color:#CCCCCC;
	position:absolute;
	float:left;
	left:10px;
	top:2px;
	font-weight:bolder;
	cursor:default;
}
.tituloGrid 
{
	/*background-color:#003399;	*/
	/*color:#ffffff;*/
	font-weight:bold;	
}

.tituloFloatDiv {
	width:100%;
	position:relative;
	float:left;
	z-index:2;
	top:0px;
	background-color:#003399;	
	color:#ffffff;
	font-weight:bold;
}

.tituloFixDiv 
{
	position:absolute;
	float:left;
	z-index:2;
	top:0px;
	background-color:#003399;	
	color:#ffffff;
	font-weight:bold;
	height:30px;
}
.sameLine 
{
	position:relative;
	float:left;
}

.th 
{
	border-collapse: collapse;
	position: relative;
	top: expression(document.getElementById("lista").scrollTop-2);
	BACKGROUND-COLOR: #003399;
	FONT-WEIGHT: bold;
	COLOR: #ffffff;
}

#lista
{
	overflow:auto;
	width:100%;
	height:230px;
	position:relative;
}

#divScrollGrid
{
	height:10%;
}