﻿<%@ Control Language="vb"   AutoEventWireup="false" CodeBehind="Aguarde.ascx.vb" Inherits="SEGW0158.Aguarde" %>
<asp:Panel ID="pnProgress" runat="server" BackColor="White" BorderColor="Black">
                    <img src="../Image/aguarde.gif" style="width: 169px; height: 67px" /></asp:Panel>