﻿<%@ Control Language="vb"  AutoEventWireup="false" Codebehind="UCObservacoes.ascx.vb"
    Inherits="SEGW0158.UCObservacoes" %>
<div class="n750">
    <div class="n750 divLeft">
        <div class="n750 divLeft">
            <label for="txtObservacao" class="txtLabel divLeft n150">
                Detalhamento:
            </label>
            <asp:TextBox ID="txtObservacao" Text="" runat="server" CssClass="txtCampo divLeft n505" TextMode="MultiLine"
                TabIndex="10" Rows="7"></asp:TextBox>
        </div>
    </div>
</div>
