﻿
#corpo
{
	font-family: Arial;
	font-size: 11px;
	margin: 5px;
}

#corpo table
{
	border: 2px solid #E8F1FF;
	margin: 5px 0 15px 0;
	padding: 0;
	width: 98%;
	color: #444;
}

#corpo caption
{
	font-weight: bold;
	color: #507CD1;
	margin-left: 5px;
}

#corpo th
{
	font-weight: bold;
	color: White;
	background-color: #507CD1;
	border: 2px solid #E8F1FF;
	padding: 5px;
}

#corpo td
{
	background-color: #EFF3FB;
	border: 0px solid #E8F1FF;
	padding: 0px;
}
 
#corpo .grid_apolice_linha td
{
	cursor: pointer;
	background-color: #EFF3FB;
}


#corpo .grid_apolice_linha_sel td
{
	cursor: pointer;
	background-color: #FFA;
}

#corpo .grid_pager a
{
	color: White;
	font-size: 11px;
	font-weight: bold;
	text-decoration: underline;
}

#corpo .grid_pager td
{
	background-color: #507CD1;
	border: 2px solid #E8F1FF;
	padding: 0;
	width: 100%;
	font-size: 11px;
	color: White;
	text-align: center;
}

/* O .NET cria uma table para fazer os itens de paginação */
#corpo .grid_pager table
{
	width: auto;
	border: 0;
	margin: 0;
	padding: 0;
}

#corpo .grid_pager table td
{
	border: 0;
	padding: 5px;
	width: auto;
	text-align: center;
}

#corpo .grid_pager span
{
	font-size: 11px;
	font-weight: bold;
	color: White;
}

#corpo .radioButtonList td
{
	background-color: #EFF3FB;
	border: 0;
	padding: 0px;
}

#corpo .radioButtonList table
{
	width: auto;
	border: 0;
	margin: 0;
	padding: 0;
}

#corpo .radioButtonList table td
{
	border: 0;
	padding: 0px;
	width: auto;
	text-align: center;
}

#RelAcaoLogin
{
	font-family: Arial;
	font-size: 11px;
	margin: 5px;
}

#RelAcaoLogin table
{
	border: 2px solid #E8F1FF;
	margin: 5px 0 15px 0;
	padding: 0;
	width: 500px;
	color: #444;
}

#RelAcaoLogin caption
{
	font-weight: bold;
	color: #507CD1;
	margin-left: 5px;
	/*text-align: left;*/
}

#RelAcaoLogin th
{
	font-weight: bold;
	/*text-align: center;*/
	color: White;
	background-color: #507CD1;
	border: 2px solid #E8F1FF;
	padding: 5px;
}

#RelAcaoLogin td
{
	/*text-align: left;*/
	background-color: #EFF3FB;
	border: 2px solid #E8F1FF;
	padding: 3px;
}

#RelAcaoLogin .grid_pager a
{
	color: White;
	font-size: 11px;
	font-weight: bold;
	text-decoration: underline;
}

#RelAcaoLogin .grid_pager td
{
	background-color: #507CD1;
	border: 2px solid #E8F1FF;
	padding: 0;
	width: 100%;
	font-size: 11px;
	color: White;
	text-align: center;
}

#RelAcaoLogin .grid_pager table
{
	width: auto;
	border: 0;
	margin: 0;
	padding: 0;
}

#RelAcaoLogin .grid_pager table td
{
	border: 0;
	padding: 5px;
	width: auto;
	text-align: center;
}

#RelAcaoLogin .grid_pager span
{
	font-size: 11px;
	font-weight: bold;
	color: White;
}

.auto
{
	overflow: auto;
}


