﻿body
{
    margin: 0px;
    color: #444;
}

input, select, textarea
{
	font-family: Verdana;
	font-size: 10px;
	color: #003399;
	font-weight: normal;
}
a.TituloMenuTopo
{
	font-family: Arial;
	font-size: 12px;
	color: #3B395D;
	font-weight: bold;
	text-decoration: none;
}
.DadosSistemaUsuario
{
	font-family: Verdana;
	font-size: 10px;
	color: #003399;
	font-weight: bold;
}
#container_principal
{
    width: 100%;
    margin: 0px;
}

#container_principal td
{
    background-color: #E8F1FF;
    border: 2px solid #AAAAAF;
    vertical-align: top;
}

#loading
{
	background-color: #fff;
	--opacity: 0.85;
	--filter: alpha(opacity=85);
	width: 100%;
	height: 1000px;
	position: absolute;
	float: left;
	top: 0px;
	left: 0px;
	z-index: 9999;
}

#loading div
{
	margin-top: 180px;
}

.Cabecalho
{
	font-family: Verdana;
	font-size: 12px;
	color: Black;
	font-weight: bolder;
}

.CorpoDatalist
{
	font-family: Verdana;
	font-size: 12px;
	color: Black;
	font-weight: bolder;	
}

a:link
{
	text-decoration: none;
	color:Black;	
}

a:visited
{
	text-decoration: none;
	color:Black;
}

a:hover
{
	text-decoration: none;
	color:Blue;
}

a:active
{
	text-decoration: none;
}

.RodapeDocumentos
{
	font-family: Verdana;
	font-size: 12px;
	color: Blue;
	font-weight: bolder;
}

.Texto_Normal
{
	font-family: Verdana;
	font-size: 10px;
	color: Black;
	font-weight: bolder;
}

.botao
{
    font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	color: White;
	background-color: #507CD1;
    border: 0px;
    margin: 5px;
    padding: 2px;
    width: 80px;
    text-align: center;
}

.Check_Opcao
{
	border:none;
	left:20px;
	position:relative;
	font-family: Verdana;
	font-size: 10px;
	color: #000000;
	font-weight: bold;
	height:17px;
}
.painelSelecao
{ 
	border: #CCCCCC 1px solid;
	position: relative;
	background-color: #EFF3FB;
	top: 5px;
	left: 5px; 
	height: 180px;
	width: 600px;
}
.painelPeriodo
{ 
	border: #CCCCCC 1px solid;
	position: relative;
	background-color: #EFF3FB;
	top: 35px;
	left: 5px; 
	height: 65px;
	width: 600px;
}
.painelfiltros
{ 
	border: #CCCCCC 1px solid;
	position: relative;
	background-color: #EFF3FB;
	top: 20px;
	left: 5px; 
	height: 100px;
	width: 600px;
}
.painelEnviar
{ 
	border: #CCCCCC 1px solid;
	position: relative;
	background-color: #EFF3FB;
	top: 5px;
	left: 5px; 
	height: 90px;
	width: 340px;
}
.painelSelecaoEmissao
{ 
	border: #CCCCCC 1px solid;
	position: relative;
	background-color: #EFF3FB;
	top: 5px;
	left: 5px; 
	height: 100px;
	width: 600px;
}
.painelSelecaoRastreio
{ 
	border: #CCCCCC 1px solid;
	position: relative;
	background-color: #EFF3FB;
	top: 5px;
	left: 5px; 
	height: 220px;
	width: 600px;
}
.Botao_pesquisa
{
    font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	color: White;
	background-color: #507CD1;
    border: 0px;
    margin: 5px;
    padding: 2px;
    width: 80px;
    top:17px;
    left:520px;
    position: relative;
    text-align: center;
}
.Botao_pesquisa_2
{
    font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	color: White;
	background-color: #507CD1;
    border: 0px;
    margin: 5px;
    padding: 2px;
    width: 130px;
    text-align: center;
}
.Botao_envio_ut
{
    font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	color: White;
	background-color: #507CD1;
    border: 0px;
    margin: 5px;
    padding: 2px;
    width: 160px;
    text-align: center;
}
.Botao_consulta_ut
{
    font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	color: White;
	background-color: #507CD1;
    border: 0px;
    margin: 5px;
    padding: 2px;
    width: 190px;
    text-align: center;
}
.div_filtros
{
	background:transparent;
}
.txtOutros
{
	width: 600px; 
	left:45px;
    position: relative;
}
.Botao_Cancelar_Recusa
{
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	color: White;
	background-color: #507CD1;
    border: 0px;
    margin: 5px;
    padding: 2px;
    width: 80px;
    text-align: center;
    left:480px;
    position: relative;
	}

.Botao_Confirmar_Recusa
{
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	color: White;
	background-color: #507CD1;
    border: 0px;
    margin: 5px;
    padding: 2px;
    width: 80px;
    text-align: center;
    left:480px;
    position: relative;
	}

.Botao_Gerar_Excel
{
    font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: White;
	background-color: #50AA11;
    border: 0px;
    margin: 5px;
    padding: 2px;
    width: 136px;
    text-align: center;
    vertical-align:middle;
}
	
.upload-wrapper 
{	
	cursor:pointer; 
	display:inline-block; 
	position:relative; 
	overflow:hidden;
	}
	
.upload-buton 
{	
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	color: White;
	background-color: #507CD1;
    border: 0px;
    margin: 5px;
    padding: 2px;
    width: 120px;
    text-align: center;
	cursor:pointer; 
	 }
	 
.upload-file 
{
	cursor:pointer; 
	height:30px; 
	width:120px; 
	opacity: 0; 
	filter:alpha(opacity=0);
	-moz-opacity:0.00; 
	position:absolute;
	font-size:20px;
	 }	
